<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">

    <!--集中配置属性进行管理-->
    <properties>
        <property name="LOG_HOME">/logs</property>
    </properties>

    <!--日志处理-->
    <Appenders>

        <!--控制台输出 appender-->
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n" />
        </Console>

        <!--文件输出的 按照一定规则拆分的日志文件的 appender-->
        <RollingFile name="rollingFile" fileName="${LOG_HOME}/myrollog.log"
                     filePattern="/logs/$${requestAdapter:yyyy-MM-dd}/myrollog-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <!--日志级别过滤器-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <!--日志消息格式-->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %l %c{36} - %msg%n" />
            <Policies>
                <!--在系统启动时，出发拆分规则，生产一个新的日志文件-->
                <OnStartupTriggeringPolicy />
                <!--按照文件大小拆分，10MB -->
                <SizeBasedTriggeringPolicy size="10 MB" />
                <!--按照时间节点拆分，规则根据filePattern定义的-->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!--在同一个目录下，文件的个数限定为 30 个，超过进行覆盖-->
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <!--异步rollingFile日志-->
        <Async name="AsyncFile">
            <AppenderRef ref="rollingFile"/>
        </Async>

        <!--JDBC输出 appender-->
        <JDBC name="database" tableName="system_log">
            <ConnectionFactory class="com.bluedot.mapper.dataSource.MyDataSource" method="getConnection" />
            <Column name="EVENT_ID" literal="LOGGING.APPLICATION_LOG_SEQUENCE.NEXTVAL" />
            <Column name="EVENT_DATE" isEventTimestamp="true" />
            <!--数据库字段名，pattern 要显示的格式-->
            <Column name="CLASS" pattern="%C" />
            <Column name="FUNCTION" pattern="%M" />
            <Column name="MESSAGE" pattern="%m" />
            <Column name="LEVEL" pattern="%level" />
            <Column name="TIME" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}" />
        </JDBC>

        <!--异步database日志-->
        <Async name="AsyncJDBC">
            <AppenderRef ref="database"/>
        </Async>
    </Appenders>

    <!--logger定义-->
    <Loggers>
        <!--自定义异步日志配置-->
        <Logger name="com.bluedot" level="debug" includeLocation="false" additivity="false">
            <Appender ref="Console"/>
            <Appender ref="AsyncFile"/>
            <Appender ref="AsyncJDBC"/>
        </Logger>

        <!--rootLogger配置-->
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>